<header id="header" class="header">
    <div class="header__inner">
        <div class="header__logo">
            <a href="/"><img src="assets/images/logos.png" alt="logo"></a>
        </div>
        <div class="header__login">
            <a href="#" class="popup-open" data-target="loginPopup">로그인</a>
            <a href="#">로그아웃</a>
            <a href="#">나의 학습실</a>
        </div>
    </div>
</header>

<article class="all-banner">
    <img src="assets/images/back.png" alt="banner">
</article>